* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: rgb(250, 249, 247);
  overflow: auto;
}

.navbar{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #319DA0; 
    position: fixed; 
    margin-bottom: 0px; 
    margin-top: 0px; 
    transition: none;
    width: 100%;
    min-height: 60px;
}
.navbar::after {
    content: "";
    clear: both;
    display: table;
}
img {
  max-width: 400px;
  margin-top: 10px;
}

.navbar a{
    text-decoration: none;
    max-width: 400px; 
    max-height: 60px; 
    display: inline-flex; 
    align-items: center;
}
.navbar .navbar-liste{
    display: inline;
}
.navbar .navbar-liste ul{
    margin: 0;
    padding: 0;
    float: right; 
    margin-right: 20px
}
.navbar .navbar-liste li{
    display: inline-block; 
    line-height: 80px;
}
.navbar .navbar-liste li a{
    color: #FFD39A; 
    text-decoration: none; 
    font-size: 20px; 
    font-weight: 500px; 
    padding: 6px 10px; 
    font-family: Roboto; 
    transition: .5s;
}
main{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    min-height: 100vh;
}
.course-details{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-position: center; 
    background-size: cover;
    margin: 0;
    padding: 0;
}
.course-details .course-start{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.course-details .course-start image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
#home{
    background-image: linear-gradient(rgba(82, 166, 172, 0.3),rgba(5,4,46,0.7)), url("coding.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
#home h1{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#home p{
    width: 50%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 25px;
}
#home .btn{
    margin-top: 30px;
}
#home a{
    text-decoration: none;
    font-size: large;
    padding: 13px 35px;
    background-color: #319DA0;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
}
#detail{
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: inherit;
    background-color: rgb(228, 234, 234);
    padding: 5vw 8vw 5vw 8vw;
}
#detail h2{
    color: #319DA0;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
#detail p{
    margin: 5px;
    color: black;
    font-size: 1.2rem;
    line-height: 25px;
}

#course_detail_son{
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: inherit;
    background-color: #fff;
    padding: 5vw 8vw 5vw 8vw;
}
#course_detail_son h2{
    color: #319DA0;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
#course_detail_son p{
    margin: 5px;
    color: black;
    font-size: 1.2rem;
    line-height: 25px;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #319DA0;
    color: #FFD39A;
    
  }
  .footerContent{
    padding-left: 5%; 
    padding-top: 30px;
  }
  
  .navbar ul li a:hover {background-color:#349598}  
  .show {display:block;}